<div class="container-form py-5">

  <div *ngIf="errors.length != 0" class="errors alert alert-danger" role="alert">
    <div class="error" *ngFor="let error of errors">
      <div class="error-message" *ngFor="let message of error">
        {{message}}
      </div>
    </div>
  </div>

  <div class="form p-5">

    <div class="mb-3">
      <label for="name" class="form-label">Name *</label>
      <input type="text" [(ngModel)]="name" class="form-control" id="name">
      <div class="error-message" [innerHTML]="messageName"></div>
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email *</label>
      <input type="email" [(ngModel)]="email" class="form-control" id="email">
      <div class="error-message" [innerHTML]="messageEmail"></div>
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password *</label>
      <input type="password" [(ngModel)]="password" class="form-control" id="password">
      <div class="error-message" [innerHTML]="messagePassword"></div>
    </div>

    <div class="form-check mb-3">
      <input [(ngModel)]="provider" class="form-check-input" type="checkbox" value="" id="provider">
      <label class="form-check-label" for="provider">
        Sei un fornitore ?
      </label>
    </div>

    <button (click)="save()" type="button" class="btn btn-primary">Invio</button>

  </div>

</div>

