/* .container-custom{
  width: 50%;
  margin: 0 auto;
} */

/* .form{
  border: 1px solid #4683b4a2;
  border-radius: 50px;
}

button{
  background-color: #4683b4a2;
  border: none;
}

button:hover{
  background-color: #003366;

}

input{
  border-color: #4683b4a2;
} */
