<app-jumbotron></app-jumbotron>

<section class="py-5">
  <div class="container d-flex justify-content-center align-items-center gap-5 text-center py-5">

    <div>
      <h1>
        Lorem ipsum dolor sit.
      </h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis quo modi alias blanditiis aliquid, perspiciatis voluptatem, temporibus odio adipisci, suscipit non rem nemo incidunt! Tempora et veritatis facere facilis repudiandae.
      </p>
    </div>

    <div>
      <h1>
        Lorem ipsum dolor sit.
      </h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis quo modi alias blanditiis aliquid, perspiciatis voluptatem, temporibus odio adipisci, suscipit non rem nemo incidunt! Tempora et veritatis facere facilis repudiandae.
      </p>
    </div>

  </div>
</section>

<section class="py-5 bg-info-subtle">
  <div class="container-custom text-center py-5">

    <div>
      <h1>
        Lorem ipsum dolor sit.
      </h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis quo modi alias blanditiis aliquid, perspiciatis voluptatem, temporibus odio adipisci, suscipit non rem nemo incidunt! Tempora et veritatis facere facilis repudiandae.
      </p>
    </div>

  </div>
</section>
