<p>reviews works!</p>
<a routerLink="/reviews/add/">Aggiungi recensione</a>

<div class="card" *ngFor="let provider of providers ">
  <h1>{{provider.name}}</h1>
  <h3>{{provider.email}}</h3>
  <h3>{{provider.is_supplier}}</h3>
  <button (click)="getReviews(provider.id)">Mostra recensioni</button>
  <div *ngFor="let review of reviews ">
    <div *ngIf="review.provider_id == provider.id">
      <h1>{{review.rating}}</h1>
      <h3>{{review.comment}}</h3>
    </div>
  </div>

</div>

<router-outlet></router-outlet>
