<div class="jumbotron bg-primary-subtle">

  <div class="container-custom">

    <div class="container-fluid">

      <h1 class="display-4">
        Lorem, ipsum.
      </h1>

      <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, earum?
      </p>

      <hr class="my-4">

      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam iste nam architecto atque adipisci quis eligendi error doloribus qui alias.
      </p>

    </div>

  </div>

</div>
