body{
  height: 100vh;
  overflow: hidden;
  background-color: white;
}

main{
  height: calc(100% - 60px);
  overflow-y: auto;
  overflow-x: hidden;
}

.container-form{
  width: 50%;
  margin: 0 auto;
}

.form{
  border: 1px solid #4683b4a2;
  border-radius: 30px;
}

.form input{
  border-color: #4683b4a2;
}

.form button{
  background-color: #4683b4a2;
  border: none;
}

.form button:hover{
  background-color: #003366;
}

li{
  list-style: none;
}

a{
  color: black;
  text-decoration-line: none;
}

.container-custom{
  width: 40%;
  margin: 0 auto;
}

.card-wrapper{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card-wrapper .card{
  width: 350px;
  height: 100%;
}


  /* background-color: #4169E1; */
  /* background-color: #87CEEB; */
  /* background-color: #4682B4; */
  /* background-color: #191970; */
  /* background-color: rgb(95, 2, 31); */
